{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock %}

{% block content %} 
<h3>Create New List</h3>
<hr>
<!-- <form method="post" action="/create/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
            <input type="text", class = "form-control" placeholder="Item name" name="new">
        <div class="input-group-append">
            <button type="submit", name="save" class="btn btn-success">Create New</button>
        </div>
    {{form.name}}
    </div>
</form>-->


<form method="POST" action="#">
    {% csrf_token %}
    
    <div class="input-group mb-5">
        <div class="col-xs-4">

            <input type = "text", class = "form-control" placeholder = "List name" name = "new">
        </div>
        <div class = "input-group-append">
            <button class = "btn btn-outline-primary" type = "submit" name = "newList" value = "newList">Create List</button>
        </div>
    </div>
</form>
{% endblock %}
