{% extends "main/base.html" %}

{% block title %}View List{% endblock %}

{% block content %}


    <h1>{{ls.name}}</h1>
    <hr>
    <p>                    



        
    </p>
    <form method="POST" action="">
        {% csrf_token %}

       
        {% for item in ls.item_set.all %}
            <div class="input-group mb-3 " style="width:29.5%">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        {% if item.complete == True %}
                            <input type="checkbox" aria-label="marks the item as done" value="clicked" name="c{{item.id}}" checked >
                        {% else %}
                            <input type="checkbox" aria-label="marks the item as done" value="clicked" name="c{{item.id}}">
                        {% endif %}
                    </div>
                </div>
                
                <input type="text" class="form-control" aria-label="Text input with checkbox", value="{{item.text}}">
                <button type="submit" class="btn btn-outline-primary" name="delete" value="{{item.id}}"><span class="bi bi-trash"></span></button>

            </div>
        {% endfor%}
        


        
        <button class="btn btn-outline-primary" type="submit" name="save" value="save">Save</button>
        <!-- <button class="btn btn-outline-primary" type="submit", name="delete", value="delete">Delete</button> -->
        <hr>
    
        <div class="input-group mb-5">

            <div class="col-xs-2">
                <input type="text" class = "form-control" placeholder="add item" name="new">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" name="newItem" value="newItem"><span class="bi bi-plus-lg"></span></button>
            </div>
        </div>

        
    </form>


    


{% endblock %}
