{% extends "main/base.html" %}

{% block title %}
    My Lists
{% endblock %}

{% block content %}
    <h2>My Lists</h2>
    <hr>

    <form method = "POST" action = "">
        {% csrf_token %}

        {% for td in user.todolist.all %}
            <!-- <div class="col-xs-4">
                <div class="form-check">
                    <input class = "form-check-input" type = "checkbox" value="{{td.id}}" name = "clicked">
                        <p><a href="/{{td.id}}">{{td.name}}</a></p>
                </div>
            </div> -->
            <div class="input-group mb-3 " style="width:29.5%">
                
                
                <input type="text" class="form-control" aria-label="Text input with checkbox", value="{{td.name}}">
                <button type="submit" class="btn btn-outline-primary" name="delete" value="{{td.id}}"><span class="bi bi-trash"></span></button>

            </div>
            
            
        {% endfor %}



    </form>

{% endblock %}