{% extends "main/base.html" %}

{% block title %}
    My Lists
{% endblock %}

{% block content %}
    <h2>My Lists</h2>
    <hr>

    <form method = "POST" action = "#">
        {% csrf_token %}

        {% for td in user.todolist.all %}
            <div class="col-xs-4">
                <div class="input-group-text">
                    <div class="input-group-append">

                        <p><a href="/{{td.id}}">{{td.name}}</a></p>

                        <input type="checkbox", value="{{td.id}}", name="clicked" checked>
                        <input type="checkbox", value="{{td.id}}", name="clicked">


                    </div>
                </div>
            </div>
        {% endfor %}

        <hr>

        <button class="btn btn-outline-primary" type="submit" name="delete" value="delete">Delete List</button>

    </form>

{% endblock %}